<p>
  wizard works!
</p>
<div id="crumbs">
	<ul >
		<li *ngFor="let step of steps"><span [id]="step.id">{{step.title}}</span></li>
	</ul>
</div>



<div>
  <button class="btn btn-primary" (click)="next()">Next</button>
  <button class="btn btn-primary" (click)="prev()">Previous</button>
</div>
