
/* reference: https://line25.com/tutorials/how-to-create-flat-style-breadcrumb-links-with-css */

#crumbs {
    text-align: center;
    height: 100px;
}

#crumbs ul {
	list-style: none;
	display: inline-table;
}
#crumbs ul li {
	display: inline;
}
	
#crumbs ul li span {
	display: block;
	float: left;
	height: 80px;
	background: #D3D3D3;
	text-align: center;
	padding: 25px 40px 0 80px;
	position: relative;
	margin: 0 10px 0 0; 
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}
#crumbs ul li span:after {
	content: "";  
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #D3D3D3;
	position: absolute; right: -40px; top: 0;
	z-index: 1;
}
			
#crumbs ul li span:before {
	content: "";  
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
 	border-left: 40px solid #ffffff;
	position: absolute; left: 0; top: 0;
}

#crumbs ul li:first-child span {
	border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
#crumbs ul li:first-child span:before {
	display: none; 
}
				
#crumbs ul li:last-child span {
	padding-right: 80px;
	border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#crumbs ul li:last-child span:after {
	display: none; 
}
			
#crumbs ul li #active {
	background: #0044cc;
}
#crumbs ul li #active:after {
	border-left-color: #0044cc;
}
		
		